@page "/"
@using frontend.Services
@inject PageTitleService PageTitleService

<PageTitle>Trang chủ - Uni Blog</PageTitle>

@code {
    protected override void OnInitialized()
    {
        PageTitleService.Title = "Trang chủ";
    }
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron bg-primary text-white rounded p-5 mb-4">
                <h1 class="display-4">Chào mừng đến với Uni Blog!</h1>
                <p class="lead">Nơi chia sẻ kiến thức và kinh nghiệm học tập của sinh viên</p>
                <hr class="my-4">
                <p>Khám phá những bài viết thú vị và chia sẻ ý tưởng của bạn với cộng đồng.</p>
                <a class="btn btn-light btn-lg" href="/dashboard" role="button">Bắt đầu ngay</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-pen-fancy fa-3x text-primary mb-3"></i>
                    <h5 class="card-title">Viết bài</h5>
                    <p class="card-text">Chia sẻ kiến thức và kinh nghiệm học tập của bạn</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-users fa-3x text-success mb-3"></i>
                    <h5 class="card-title">Cộng đồng</h5>
                    <p class="card-text">Kết nối với các sinh viên khác và học hỏi lẫn nhau</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-graduation-cap fa-3x text-warning mb-3"></i>
                    <h5 class="card-title">Học tập</h5>
                    <p class="card-text">Tìm kiếm tài liệu và bài viết hữu ích cho việc học</p>
                </div>
            </div>
        </div>
    </div>
</div>
